<html>
    <head>
        <link rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Library Catalog</title>
    </head>
    <body>
        <div class="container">
            <h1>Book Catalog</h1>

            <table class="table table-bordered">
            {% if books is not empty %}
                <tr>
                    <td><b>Book Title:</b></td>
                </tr>

                    {% for book in books %}
                    <tr>
                        <td><a href="/book_info/{{ book.getId() }}"> {{ book.getTitle }}</a></td>
                    </tr>
                    {% endfor %}
            {% else %}
                <h2>Please add a book</h2>
            {% endif %}
            </table>
            <a href="/"><button type="submit" class="btn btn-success">Home</button></a>
        </div>
    </body>
</html>
