<html>
    <head>
        <link rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="../css/styles.css">
        <title>Library Catalog</title>
    </head>
    <body>
        <div class="container">
            <h1>Librarian Portal</h1>

            <div class='focus'>
                <a href='/search_books'><h3>Search by books</h3></a>
                <a href='/search_authors'><h3>Search by authors</h3></a>
            </div>

            <a href="/"><button type="submit" class="center btn btn-success">Home</button></a>
        </div>
    </body>
</html>
